<%= simple_form_for (@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :street_address, label: "Address or approximate location" %>
    <%= f.input :city %>
  </div>

  <div class="form-actions">
    <%= f.submit "Find my bus!", class: "btn btn-info btn-lg" %>
  </div>
<% end %>
