
<p id="notice"><%= notice %></p>

<h1>Here are your bus options!</h1>
<h3 class="text-muted">Your Current Location</h3>
<%= @location.full_street_address %> <%= link_to fa_icon('pencil', text: 'Edit'), edit_location_path(@location) %>

<div id="map" style="height:500px;width:500px;margin:0;padding:0;"></div>
   <script>
   var map, mapOptions;
     function initMap() {
       var userLatLng = {
         lat: <%= @location.latitude %>,
         lng: <%= @location.longitude %>
       };

       var nearbyBuses = <%= raw @buses.to_json %>;

       mapOptions = {
         center: userLatLng,
         zoom: 14
       };

       map = new google.maps.Map(document.getElementById('map'), mapOptions);

       var userMarker = new google.maps.Marker({
         position: userLatLng,
         map: map,
         animation: google.maps.Animation.DROP,
         title: "Your Location"
       });

       nearbyBuses.forEach(function(element){
        var busLatLng = new google.maps.LatLng(element['LATITUDE'], element['LONGITUDE']);

        var busMarker = new google.maps.Marker({
          position: busLatLng,
          map: map,
          // icon: busIcon,
          animation: google.maps.Animation.DROP,
          title: element['ROUTE']
        })
       })
}
   </script>

<% @buses.each do |bus| %>
  <p>
    <strong> Route: </strong>  <% bus["ROUTE"]%> <%=bus["DIRECTION"] %><br>
    <strong> Bus Number: </strong>  <%=bus["VEHICLE"] %><br>
    <strong> Next Stop: </strong>  <%=bus["TIMEPOINT"] %><br>
  </p>
<%end%>

<p>
  <strong>Street address:</strong>
  <%= @location.street_address %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @location.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @location.longitude %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['google_maps_api_key'] %>&callback=initMap"
 type="text/javascript"></script>
